<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='../css/Common_part.css'/>
    <link rel="stylesheet" href="../css/aboutUs.css" />
</head>
<body>
<div id="container">
    <!-- 头部部分-->
    <header id="header" >
        <nav id="nav">
            <div id='logo'>
                <h1>
                    <a href='http://www.jiawin.com/'>
                        Fabrica
                    </a>
                </h1>
            </div>
            <div id='menu'>
                <ul>
                    <li><a href="../index.html?0">首页</a></li>
                    <li><a href="aboutUs.html?1">关于我们</a></li>
                    <li><a href="services.html?2">服务</a></li>
                    <li><a href="protfolio.html?3">作品集</a></li>
                    <li><a href="#">定价</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- 内容部分-->
    <div id="content">
        <!-- 关于我们部分-->
        <section id="aboueUs_cnt">
            <div class="style_cnt">
                <h3>
                    关于我们
                </h3>
                <p>
                    其实生活并没有那么苦，是自己的情绪为它添了油加了醋，
                    回到最初简单的想法，一切都是快乐的，失去的就让它失去，
                    握不住就彻底放弃，让生活重回五颜六色的世界里
                    我已不是你记忆中的那道风景，你已不是我心目中的那个轮回。
                    所有痴男怨女相恋时的诺言过后便是一个笑点，我守着这个笑点，
                    不知道何时才能变成真正的哭或者真正的笑
                </p>
            </div>
        </section>

        <!-- 杂七杂八部分 -->
        <section id="MyInt_cnt">
            <div id="myIntroduce">
                <div>
                    <img src="../img/about.jpg" width="360px" height="290px" />
                </div>
                <div>
                    <h4>
                        我们是谁
                    </h4>
                    <p>
                        总要作个活着醒来的人
                        地球带着月亮空中公转和自转地活动着；
                        这么大的宇宙，这么多的星球，各自按自己的轨道规律地运行着。
                        这肉眼都看不见的轨道是如何促使这些星球有规律地运行的呢?
                    </p>
                    <p>
                        古人曰：“古之善为道者，微妙玄通，深不可识”。
                        若从天文学到考古学、从生物学到历史学等多种科学资料来研究宇宙和生命起源等问题，
                        你会突然醒悟，原来人真是井底的一只“蛙”，知道的实在太少了。
                    </p>
                </div>
                <div>
                    <h4>
                        我们的历史
                    </h4>
                    <p>
                        <strong>2009</strong><br/>
                        吃着香喷喷的饭，感谢厨师，是应当的。若还能联想到播秧收谷之人，这人真是智慧之子。
                    </p>
                    <p>
                        <strong>2011-2014</strong><br/>
                        一个活着有思维的人，都应该明白天上有更高智慧的真生命。
                    </p>
                    <p>
                        <strong>2015-2016</strong><br/>
                        不明白却装作大师强辩的，比经过一下没出过世的更可悲。
                    </p>
                </div>
            </div>
        </section>

        <!-- 问答部分又来了-->
        <section id="Ques_Ans">
            <div id="Ques_Ans_L">
                <div>
                    <h3>
                        关于我们
                    </h3>
                </div>
                <ul>
                    <li>
                        <h4>120+ 快乐的体验</h4>

                        <p>
                            人生在世,不亦乐乎?对于我们来说,快乐是最重要的。
                            有了快乐,我们才有了前进的动力;有了快乐,我们才有了坚定的信心。
                        </p>
                    </li>
                    <li>
                        <h4>600+ 项目进度</h4>

                        <p>
                            有了快乐,我们才有了前进的动力;有了快乐,我们才有了坚定的信心。
                        </p>
                    </li>
                    <li>
                        <h4>25 获得的奖项</h4>

                        <p>
                            人生在世,不亦乐乎?对于我们来说,快乐是最重要的。
                        </p>
                    </li>
                </ul>
            </div>
            <div id="Ques_Ans_R">
                <div>
                    <h3>
                        问题和解答
                    </h3>
                </div>
                <ul>
                    <li class="Ques_Ans_R_li">
                        <h5>公司的发展历史?</h5>
                        <ul>
                            <li>
                                <p>你表现的再怎么脆弱不堪 也没人同情你 看你笑话的贱 人太多 懂吗</p>
                            </li>
                        </ul>
                    </li>
                    <li class="Ques_Ans_R_li">
                        <h5>公司的发展概况?</h5>
                        <ul>
                            <li>
                                <p>你表现的再怎么脆弱不堪 也没人同情你 看你笑话的贱 人太多 懂吗</p>
                            </li>
                        </ul>
                    </li>
                    <li class="Ques_Ans_R_li">
                        <h5>公司的发展历史?</h5>
                        <ul>
                            <li>
                                <p>单身不是自私的选择，而是比和错的人在一起更明智的选择。</p>
                            </li>
                        </ul>
                    </li>
                    <li class="Ques_Ans_R_li">
                        <h5>公司现在的情况?</h5>
                        <ul>
                            <li>
                                <p>你有你的背景，我有我的故事。没有读懂我的故事，别给我多余的评价。别用昨日的眼光 ，看今日的我。</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>

        <!-- 创建一个计划部分-->
        <section id="discuss_cnt">
            <div class="style_cnt">
                <h3>
                    一个计划
                </h3>
                <p>
                    有人会说：翻下科学资料就是，无需自己去研究。
                    但，真正的现成科学论据，都存在正反两方的争论，甚至长期争论。
                </p>
                <div class="discuss_btn">
                    <p>联系我们</p>
                </div>
            </div>
        </section>
    </div>

    <!-- 尾部部分-->
    <footer id="footer">
        <p>
            Copyright &copy; 2015 Fabrica. More Templates Cqq - Collect from Baidu
        </p>
    </footer>
</div>
<script type="text/javascript" src="../js/Common_part.js"></script>
</body>
</html>