<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/Common_part.css" />
    <link rel="stylesheet" href="../css/services.css" />
</head>
<body>
<div id="container">
    <!-- 头部部分-->
    <header id="header">
        <nav id="nav">
            <div id='logo'>
                <h1>
                    <a href='http://www.jiawin.com/'>
                        Fabrica
                    </a>
                </h1>
            </div>
            <div id='menu'>
                <ul>
                    <li><a href="../index.html?0">首页</a></li>
                    <li><a href="aboutUs.html?1">关于我们</a></li>
                    <li><a href="services.html?2">服务</a></li>
                    <li><a href="protfolio.html?3">作品集</a></li>
                    <li><a href="#">定价</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- 内容部分-->
    <div id="content">

        <!-- 我们的服务部分-->
        <section id="ourServices">
            <div class="style_cnt">
                <h3>
                    服 务
                </h3>
                <p>
                    其实生活并没有那么苦，是自己的情绪为它添了油加了醋，
                    回到最初简单的想法，一切都是快乐的，失去的就让它失去，
                    握不住就彻底放弃，让生活重回五颜六色的世界里
                    我已不是你记忆中的那道风景，你已不是我心目中的那个轮回。
                    所有痴男怨女相恋时的诺言过后便是一个笑点，我守着这个笑点，
                    不知道何时才能变成真正的哭或者真正的笑
                </p>
            </div>
        </section>

        <!-- 百度地图部分-->
        <section id="Map_cnt">
            <div id="services_Map"></div>
        </section>

        <!-- 一起出发部分-->
        <section id="letGo">
            <div class="style_cnt">
                <h3>
                    一起出发
                </h3>
                <p>
                    有人会说：翻下科学资料就是，无需自己去研究。
                    但，真正的现成科学论据，都存在正反两方的争论，甚至长期争论。
                </p>
                <div class="discuss_btn">
                    <p>联系我们</p>
                </div>
            </div>
        </section>
    </div>
    <footer id="footer">
        <p>
            Copyright &copy; 2015 Fabrica. More Templates Cqq - Collect from Baidu
        </p>
    </footer>
</div>
<script type="text/javascript" src="../js/Common_part.js" ></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript" src="../js/baiDuMap.js" ></script>
</body>
</html>